input[type='text'], input[type='password']
{
   border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 1px 5px #ccc;
    font-family: Verdana;
    font-size: 15px;
    font-weight: 200;
    height: 19px;
    padding: 7px;
    width: 382px;
}

input[type='text']:hover, input[type='password']:hover
{
  width: 382px;
   height: 19px;
border-radius: 3px;
border: 1px solid #aaa;
 padding: 7px;
font-weight: 200;
font-size: 15px;
font-family: Verdana;
box-shadow: 1px 1px 5px #2A0A0A;
}
input[type='submit'], input[type='reset'], input[type='button']
{
width: 150px;
height: 34px;
background-color:#2A0A0A;
color:red;
}
input[type='submit']:hover,input[type='reset']:hover, input[type='button']:hover
{
width: 150px;
height: 34px;
background-color:#F7BE81;
color:#2A0A0A;
}